express-demo1/node_modules/
vue-demo1/node_modules/
express-demo1/.env
vue-demo1/.idea
vue-demo1/.vscode

my-music-go/tmp
**/digest.txt
**/tmp.md
**/tmp.txt
my-music-go/.env
my-music-go/error_code.md
my-music-go/go_learning.md
